@charset "UTF-8";
.join_top {
	margin-top: 130px;
	height: 850px;
	width: 100%;
	background-image: url("../images/join/join_bg.jpg");
	background-position: bottom;
	background-size: cover;
	overflow: hidden;
}
.join_image {
	padding: 226px 0 70px;
	width: 302px;
	height: 78px;
	margin: 0 auto;
}
.join_text1 {
	color: white;
	text-align: center;
	font-size: 38px;
	margin-bottom: 10px;
}
.join_text2 {
	color: #b9b8b8;
	text-align: center;
	font-size: 18px;
}
.form_box {
	background: lightgray;
	max-width: 1180px;
    margin: 0 auto;
    height: 1072px;
}
.form_wrap {
	background: lightblue;
	margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #ebebeb;
    padding: 30px 0 70px;
    box-sizing: border-box;
    overflow: hidden;
    height: 770px;
}
.input_box {
	background: orange;
	padding: 44px 0 50px;
	width: 100%;
    max-width: 680px;
    height: 557px;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
}
.input_title {
	background: lightgreen;
	width: 100%;
	font-size: 28px;
	text-align: center;
    color: #202022;
}
.input_wrap {
	background: white;
	margin-top: 42px;
	width: 100%;
	height: 458px;
}
.input_wrap table {
	border: 2px solid black;
	margin: 0 auto;
	width: 100%;
}
.input_tr {
	
}
.input_td1 {
	
}
.input_td2 {
	
}

