@charset "UTF-8";
.join_top {
	margin-top: 130px;
	height: 850px;
	width: 100%;
	background-image: url("../images/join/join_bg.jpg");
	background-position: bottom;
	background-size: cover;
	overflow: hidden;
}
.join_image {
	padding: 226px 0 70px;
	width: 302px;
	height: 78px;
	margin: 0 auto;
}
.join_text1 {
	color: white;
	text-align: center;
	font-size: 38px;
	margin-bottom: 10px;
}
.join_text2 {
	color: #b9b8b8;
	text-align: center;
	font-size: 18px;
}
.form_box {
	max-width: 1180px;
    margin: 0 auto;
    height: 1072px;
}
.form_wrap {
	margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #ebebeb;
    padding: 30px 0 70px;
    box-sizing: border-box;
    overflow: hidden;
    height: 770px;
}
.input_box {
	padding: 44px 0 50px;
	width: 100%;
    max-width: 680px;
    height: 557px;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
}
.input_title {
	width: 100%;
	font-size: 28px;
	text-align: center;
    color: #202022;
}
.input_wrap {
	margin-top: 42px;
	width: 100%;
	height: 458px;
}
.input_wrap table {
	margin: 0 auto;
	width: 100%;
}
.input_tr {
	height: 68px;
	margin-bottom: 10px;
}
.input_td1 {
	width: 140px;
	font-size: 15px;
}
.input_td2 {
	width: 540px;
	font-size: 15px;
}
.input_td2 input {
	width: 100%;
	height: 58px;
	border-radius: 3px;
}
.join_box {
	width: 100%;
	max-width: 500px;
	margin-top: 50px;
	margin: 0 auto;
}
.join_inputbox {
	background-color: #002f6c;
	border: solid 1px #002f6c;
	border-radius: 3px;
	width: 100%;
	height: 68px;
	line-height: 68px;
	text-align: center;
	font-size: 18px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}