@charset "UTF-8";
.tos_top {
	background-image: url("../images/join/join_bg.jpg");
	background-size: cover;
	height: 850px;
	width: 100%;
}
.tos_image {
	padding: 356px 0 70px;
	width: 302px;
	height: 78px;
	margin: 0 auto;
	background-color: red;
}
.tos_text1 {
	color: white;
	text-align: center;
	font-size: 38px;
	margin-bottom: 10px;
}
.tos_text2 {
	color: #b9b8b8;
	text-align: center;
	font-size: 18px;
}