@charset "UTF-8";
/****** header ***********************************************/
header {
	width: 100%;
	height: 130px;
	position: fixed;
	top: 0;
	background-color: white;
}
.header_top {
	width: 61.46%;
	min-width: 1180px;
	height: 47px;
	margin: 0 auto;
	overflow: hidden;
}
.header_site {
	width: 17.71%px;
	height: 30px;
	margin-top: 17px;
	float: left;
	line-height: 30px;
}
.header_subsite {
	float: left;
	
	margin-right: 17px;
	font-size: 13px;
}
.header_site li {
	float: left;
	margin-right: 17px;
	font-size: 13px;
}
.header_site a {
	color: #848484;
	
}
.header_subsite a {
	color: #1D326C;
}
.header_util {
	width: 502.58px;
	height: 30px;
	margin-top: 17px;
	float: right;
}
.header_members {
	float: left;
	padding-left: 17px;
}
.header_members li {
	float: left;
	margin-right: 34px;
	line-height: 30px;
	font-size: 13px;
	
}
.header_members a {
	color: #848484;
}
.header_members a:hover {
	color: #1D326C;
}
.header_sns {
	float: left;
	margin: 4px 15px 0 -17px;
}
.header_sns li {
	float: left;
	margin-right: 4px;
}
.header_util > select {
	float: right;
	width: 158px;
	height: 28px;;
	padding-left: 20px;
	font-size: 13px;
	margin-top: 1px;
	color: #848484;
	border-color: #848484;
	cursor: pointer;
}
.header_bottom {
	width: 61.46%;
	min-width: 1180px;
	height: 83px;
	margin: 0 auto;
}
.header_logo {
	margin-top: 31.5px;
	float: left;
}
.header_bottom li {
	float: left;
	line-height: 87px;
	margin-left: 90px;
}
/****** main ***********************************************/
.main {
	clear: both;
	width: 100%;
	height: 2000px;
	background-color: lightgray;
	margin-top: 130px;
}
/****** aside ***********************************************/

/****** footer ***********************************************/
footer {
	width: 100%;
	height: 257px;
	background-color: #262626;
}
.footer_util {
	background-color: white;
	height: 61px;
	border-bottom: solid 1px #464646;
	margin-left: 260px;
}
.footer_util li {
	float: left;
	line-height: 61px;
}
.footer_util a {
	margin: 0 19px;
	font-size: 13px;
	color: #464646;
}
.footer_ccm {
	background-color: orange;
	width: 100%;
	height: 45px;
	margin-top: 30px;
}
.footer_logo {
	background-color: lightblue;
	margin: 41px 0 24px 0;
	width: 210px;
}
.footer_info {
	background-color: lightgreen;
	width: 100%;
	height: 40px;
	
}
.footer_info span {
	width: 650px;
	margin: 14px 0 20px 0;
	font-size: 
}
/* .footer_wrap p {
	background-color: green;
	height: 55px;
	padding-bottom: 35px;
} */















